
.bordaPrincipal{
    top: 15%;
    left: 20%;
    height: 83%;
    width: 60%;
    text-align: center;
    color: aliceblue;
    display: block;
    background-color: #49444b;
    border-radius: 30px;
    position: absolute;
    margin: 0 auto;

}

.bordaSecundaria{
    border-width: medium;
    border-style: solid;
    border-radius: 20px;
    width: 80%;
    display: inline-block;
}

hr{
    background-color: aliceblue;
    border-width: 10; 
	height: 10px;
	border-top-width: 1px;
}

ul, hr{
    list-style: none;
    width: 100%;
    height: 150px;
    padding: 0px 20%;
    display: flex;
}

ul{
    padding-top: 10px;
}

.icerirSD{
    width: 100%;
}

.fieldsetI{
    width: 70%;
    margin: 0px auto;
}

#inpt{
    background-color: transparent;
    color: aliceblue;
    margin-bottom: 20px;
}

#inpt::placeholder{
    color: aliceblue;
} 

.noLugar{
    width: 90%;
}

.redondoH1{
    background-color: aliceblue;
    color: #49444b;
    border-width: medium;
    border-style: solid;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}

.redondoH2{
    background-color: transparent;
    border-width: medium;
    border-style: solid;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}

.redondoH3{
    background-color: transparent;
    border-width: medium;
    border-style: solid;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
}